@charset "UTF-8";
#body{
	background-color: #ffffff;
	width:100%;
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
	
}
#head{
	height: 40px;
width: 100%;
background:  	#33CCFF;
}
#noteeassy_bodydiv{
	margin-top:20px;
	margin-left: 10px;
	margin-right: 10px;
}
#essay{
	border: 1px solid #ccc;
}
#eassy_submit{
	margin-top:-10px;
	text-align:center;
	width:80px;
	height: 35px;
	background-color: #33CCFF;
	font-size: 14px;
	overflow: hidden;
	display: block;
    cursor: pointer;
    border: 1px solid #e8e8e8;
}