<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyForum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>encodeFilter</display-name>
    <filter-name>encodeFilter</filter-name>
    <filter-class>cn.itcast.myforum.web.filter.encodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addnoteServlet</display-name>
    <servlet-name>addnoteServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.addnoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnoteServlet</servlet-name>
    <url-pattern>/addnoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shouindexServlet</display-name>
    <servlet-name>shouindexServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shouindexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouindexServlet</servlet-name>
    <url-pattern>/shouindexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shouessayServlet</display-name>
    <servlet-name>shouessayServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shouessayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouessayServlet</servlet-name>
    <url-pattern>/shouessayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shouaddnoteServlet</display-name>
    <servlet-name>shouaddnoteServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shouaddnoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouaddnoteServlet</servlet-name>
    <url-pattern>/shouaddnoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shoumynoteServlet</display-name>
    <servlet-name>shoumynoteServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shoumynoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoumynoteServlet</servlet-name>
    <url-pattern>/shoumynoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletemynoteServlet</display-name>
    <servlet-name>deletemynoteServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.deletemynoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletemynoteServlet</servlet-name>
    <url-pattern>/deletemynoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shouupdatenoteServlet</display-name>
    <servlet-name>shouupdatenoteServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shouupdatenoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouupdatenoteServlet</servlet-name>
    <url-pattern>/shouupdatenoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatenoteServlet</display-name>
    <servlet-name>updatenoteServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.updatenoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatenoteServlet</servlet-name>
    <url-pattern>/updatenoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcommentServlet</display-name>
    <servlet-name>addcommentServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.addcommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcommentServlet</servlet-name>
    <url-pattern>/addcommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shouresponseServlet</display-name>
    <servlet-name>shouresponseServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shouresponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouresponseServlet</servlet-name>
    <url-pattern>/shouresponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shouupdateheadServlet</display-name>
    <servlet-name>shouupdateheadServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shouupdateheadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shouupdateheadServlet</servlet-name>
    <url-pattern>/shouupdateheadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateheadServlet</display-name>
    <servlet-name>updateheadServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.updateheadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateheadServlet</servlet-name>
    <url-pattern>/updateheadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecommentServlet</display-name>
    <servlet-name>deletecommentServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.deletecommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecommentServlet</servlet-name>
    <url-pattern>/deletecommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendmailServlet</display-name>
    <servlet-name>sendmailServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.sendmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendmailServlet</servlet-name>
    <url-pattern>/sendmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepasswordServlet</display-name>
    <servlet-name>updatepasswordServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.updatepasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepasswordServlet</servlet-name>
    <url-pattern>/updatepasswordServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.itcast.myforum.listener.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>shoufindServlet</display-name>
    <servlet-name>shoufindServlet</servlet-name>
    <servlet-class>cn.itcast.myforum.web.servlet.client.shoufindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoufindServlet</servlet-name>
    <url-pattern>/shoufindServlet</url-pattern>
  </servlet-mapping>
</web-app>